{% for tag in tags %}
    <div class="column center aligned brand">
        <a href="" class="ui card">
            <div class="content">
                <div class="description">{{ tag.name }}</div>
            </div>
        </a>
    </div>
{% endfor %}